In [2]:
import pandas as pd

file_path = 'C:\\Users\\Yugur\\Downloads\\archive\\MoviesOnStreamingPlatforms_updated.csv'

df = pd.read_csv(file_path)

In [12]:
df['alfred'] = df['Directors'].str.contains(pat='Alfred')

In [13]:
df[df['alfred']].head(10)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [9]:
directors = df.groupby(by=['Directors']).agg({"Title":pd.Series.nunique}).sort_values(by=['Title'], ascending=False)

                       Title
Directors
Jay Chapman               36
Joseph Kane               30
Cheh Chang                26
Jim Wynorski              22
Sam Newfield              22
David DeCoteau            21
William Beaudine          21
Jay Karas                 20
Raúl Campos,Jan Suter     20
Marcus Raboy              18
Scott L. Montoya          17
Fred Olen Ray             17
William Witney            17
Mark Atkins               16
Lesley Selander           16
Paul Hoen                 15
William Nigh              14
Robert N. Bradbury        13
Philip Gardiner           13
Robert Stevenson          13